/* css styles */

/*---------------------------------
.quarto-title-banner {
    background: #999a17;
    color: black;
}


.quarto-title-banner h1, 
.quarto-title-banner .h1 {
    color: red;
}

.navbar {
    background-color: #999a17;
}
----------------------------------*/

p {
  text-align: justify
}

.planta ul {
  list-style-image: url("https://github.com/equihuam/2025-Ciencia-Reproducible/blob/main/images/Plant%20icons%20created%20by%20Icongeek26%20-%20Flaticon-rubber-plant-16.png?raw=true")
}


ul {
  list-style-type: disc;
}

ul ul {
  list-style-type: circle;
}

ul ul ul {
  list-style-type: square;
}

figcaption {
    text-align: center;
}

